@tailwind base;
@tailwind components;
@tailwind utilities;

body,
* {
  /* font-family: 'Raleway'; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.homePage {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  min-width: 500px;
  @media (max-width: 900px) {
    display: none;
  }
}
.menubar {
  width: 100%;
  height: 80vh;
  background-color: white;
  @media (min-width: 900px) {
    display: none;
  }
}
.menu {
  @media (min-width: 900px) {
    display: none;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
}

.menu-list li {
  font-size: 20px;
}

.nav-list {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 900px) {
    gap: 15px;
  }
}
.containerm {
  max-width: 1200px;
  padding: 0 18px;
  @media (min-width: 500px) {
    padding: 0 20px;
  }
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2px solid #4db5ff;
  padding-bottom: 20px;
  @media (min-width: 900px) {
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.mercy {
  color: #4db5ff;
}
.hover\:animate-bounce:hover {
  animation: bounce 1s infinite;
}

.design {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  font-family: 'Great Vibes', cursive;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7rem;
}

/*   ------ general styles --- */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
.textDiv {
  flex-basis: 50%;
  text-align: center;
}

.dub {
  display: grid;
  /* background-color: red; */
  min-height: 85vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 1200px) {
    width: 60vw;
  }
}

.dub-col-wrapper {
  display: grid;
  /* background-color: red; */
  min-height: 85vh;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 1200px) {
    width: 60vw;
  }
}
.textDiv h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.textDiv p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.textDiv h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.textDiv button {
  font-size: 18px;
  font-weight: 600;
}
.doro h1 {
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
}

.about h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.about button {
  font-size: 18px;
  font-weight: 600;
}
.text-light {
  color: var(--color-light);
}
a {
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover {
  color: var(--color-white);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: large;
  border-radius: 0.4rem;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  text-transform: uppercase;
}
.btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

header.first h1 {
  /* margin-top: 20px;
  margin-bottom: 20px; */
}
/*    media queries for medium devices */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  /* section {
    margin-top: 6rem;
  } */
}

/* ----- smaller devices */

/* section > h2 {
    margin-bottom: 2rem;
  } */

/*    -------- header.first componenet ----- */

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
header.first {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
main.second,
main.fourth {
  height: 100vh;
  overflow: hidden;
}

main.third {
  @media (min-width: 768px) {
    height: 100vh;
  }
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  /* margin-top: 2.5rem; */
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.social__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.social__links::after {
  content: ' ';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 22rem;
  position: absolute;
  left: calc(50% - 11rem);
  /* margin-top: 6rem; */
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 7rem 1.5rem 1.5rem 1.5rem;
}

.scroll {
  position: absolute;
  right: -1.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ----- media queries -----*/
@media screen and (max-width: 1024px) {
  header.first {
    height: 100vh;
  }
}
@media screen and (max-width: 600px) {
  header.first {
    height: 100vh;
  }
  .social__links,
  .scroll {
    display: none;
  }
}

/* ------ nav ------*/

nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

/* navigation */

.nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 3;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  gap: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);

  @media (min-width: 768px) {
    bottom: 2rem;
  }
}

.nav a {
  color: var(--text-color);
  font-size: 1.2rem;
  background: transparent;
  padding: 0.9rem;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  transition: background 400ms ease-out;
}
.nav-span {
  position: absolute;
  top: -60px;
  left: -10px;
  background: rgba(47, 47, 138, 0.6);
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  display: none;
}

.nav a:hover {
  color: var(--color-primary);
  background: rgba(0, 0, 0, 0.3);
}

.nav a:hover .nav-span {
  display: block;
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-primary);
}

/* ============================== Media Queries-Small ======================== */
@media screen and (max-width: 768px) {
  .nav {
    gap: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .nav {
    padding: 0.5rem 0.9rem;
    gap: 0.5rem;
  }
}

.image-div {
  flex-basis: 40%;
}

.text-div {
  flex-basis: 60%;
}

.bool {
  box-shadow: 8px 8px 10px -6px;
}

.boxy {
  box-shadow: rgba(44, 44, 108, 0.59) 5px 5px 0px 0px;
}
