@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e3f0f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e3f0f9;
  border-radius: 5px;
}

.page-transition {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aed6ef;
}

html {
  font-family: 'Inter' sans-serif;
  scroll-behavior: smooth;
}

.dark-theme {
  color: rgba(204, 214, 246, 1);
  background: rgba(34, 40, 49, 1);
}
.light-theme {
  color: rgba(34, 40, 49, 1);
}

body {
  color: rgba(204, 214, 246, 1);
  background: rgba(34, 40, 49, 1);
  /* color: rgba(34, 40, 49, 1); */
}
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .nav-links {
    @apply relative text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#29AFFD] after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
  }
}

:root {
  --light-background-color: rgb(242 245 249);
  --dark-background-color: rgb(60, 47, 65);
}

.bg-light {
  background-color: var(--light-background-color);
  min-height: 100vh;
}
.bg-dark {
  background-color: var(--dark-background-color);
  min-height: 100vh;
}
