@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }

  .design {
    font-family: 'Great Vibes', cursive;
  }

  .sys {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  }
}

/* @keyframes dropdown {
  0% {
    transform: 'translateY(0)';
  }

  100% {
    transform: 'translateY(100)';
  }
}



.dropdown {
  transition: 0.3s ease-in-out all;
  transform: translate(0%);
} */

/* animation: {
        dropdown: 'dropdown 3.3s ease-in-out',
      }, */
